* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.3),
    hsla(0, 0%, 100%, 0.3)), linear-gradient(180deg, rgba(0, 113,
     206, 0.15), rgba(0, 113, 206, 0.15)), url(img/001.jpg); 
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.body-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    position: relative;
    .body-title {
        color: black;
        font-family: 'Crimson Text', serif;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    .getquote .getquote-button {
        background-color: rgb(29, 161, 242);
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0.25rem 1rem;
        line-height: 2rem;
        border: solid 0;
        color: white;
        font-family: 'Work Sans', sans-serif;
        margin: 2rem 0;
        box-shadow: 8px 8px 8px #888888;
        transition: transform 0.1s ease-out;
        outline:none;
    }
    .getquote .getquote-button:hover {
        cursor: pointer;
    }
    .getquote .getquote-button:active {
        transform: translateY(3px) translateX(3px);
        box-shadow: 8px 6px 8px #888888;
        border: none;
    }
    .getquote .getquote-button:focus {
        border: none;
    }
    .quote-container {
        height: 600px;
        margin: 1rem auto;
        max-width: 75rem;
        .quote {
            font-size: 3.5rem;
            font-style: italic;
            color: white;
            font-family: 'Work Sans', sans-serif;
            font-weight: 300;
            max-width: 75rem;
            margin-bottom: 1rem;
        }
        .author {
            font-size: 1.5rem;
            color:   #34495e;
            font-family: 'Work Sans', sans-serif;
            margin: 1rem auto;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .quote-tran {
            font-size: 1.5rem;
            font-family: 'Work Sans', sans-serif;
            margin-bottom: 1rem;
        }
        .share .share-button {
            padding: 1px 10px;
            font-size: 1rem;
            color: white;
            border: none;
            border-radius: 2px;
            background-color: rgb(29, 161, 242);
            width: 76px;
            margin-right: 10px;
            a {
                color: white;
                text-decoration: none;
                font-family: 'Helvetica Neue',Arial,sans-serif;
                line-height: 26px;
                font-size: 13px;
                i {
                    font-size: 17px;
                }
            }
        }
        .share .share-button:hover {
            cursor: pointer;
            background-color: rgb(26, 118, 204);
        }
    }
    .trans-button {
        padding: 4px 10px;
        font-size: 1rem;
        color: white;
        border: none;
        border-radius: 2px;
        background-color: #85929e;
        margin-bottom: 1rem;
        outline:none;
    }
    .trans-button:hover {
        cursor: pointer;
    }
    .share {
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}